[
    {
        "ROUND_DURATION": 30,
        "TARGET_LATENCY": 1,
        "CONSTANT_VIDEO_BITRATE": 6000,
        "TOTAL_ROUNDS": 2,
        "MPD_URL": "https://debian.framework.clarkzjw.ca/livesim2/vectors/switching_sets/12.5_25_50/ss1/2023-04-28/stream.mpd",
        "ABR_ALGORITHM": "abrL2A"
    },
    {
        "ROUND_DURATION": 30,
        "TARGET_LATENCY": 1,
        "CONSTANT_VIDEO_BITRATE": -1,
        "TOTAL_ROUNDS": 2,
        "MPD_URL": "https://debian.framework.clarkzjw.ca/livesim2/vectors/switching_sets/12.5_25_50/ss1/2023-04-28/stream.mpd",
        "ABR_ALGORITHM": "abrLoLP"
    }
]
